/* TODO: UPDATE */

.nav--solid {
	box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
}

@media screen and (min-width: 1200px) {
	.nav--solid,
	.nav--solid * {
		background-color: var(--color--bg-main) !important;
		color: var(--color--accent-main) !important;
	}

	.nav--transparent,
	.nav--transparent * {
		background-color: transparent !important;
		color: var(--color--bg-main) !important;
		text-shadow: 2px 2px 4px var(--color--accent-main);
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--color--bg-main);
	z-index: 100;
}

.nav--air {
	height: min(16vh, 4rem);
}

.nav,
.nav__menu {
	padding: min(4vh, 1rem) 15vw;
}

.nav li {
	list-style: none;
}

.nav li,
.nav__logo,
.nav__logo i,
.nav__burger,
.nav__close {
	font-size: min(4vw, 1.33rem);
}

.nav__logo,
.nav li a {
	height: min(8vh, 2rem);
}

.nav__data {
	justify-content: space-between;
}

.nav__logo {
	display: inline-flex;
	align-items: center;
	font-weight: var(--font-semi-bold);
	font-family: var(--alt-font) !important;
	font-size: min(5vw, 1.5rem);
	letter-spacing: min(0.6vw, 0.2rem);
}

.nav__logo i {
	margin-right: min(3vw, 1rem);
}

.nav__toggle {
	position: relative;
	padding: 0 min(4.5vw, 1.5rem);
}

.nav__burger,
.nav__close {
	position: absolute;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	inset: 0;
	margin: auto;
	font-size: 1.25rem;
	cursor: pointer;
	transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
	opacity: 0;
}

.nav__link {
	justify-content: space-between;
}

.nav__link:hover {
	background-color: var(--black-color-light);
}

@media screen and (max-width: 1500px) {
	.nav {
		padding: min(4vh, 1rem) 5vw;
	}
}

/* Navigation for mobile devices */
@media screen and (max-width: 1200px) {
	.nav {
		display: block;
		padding: min(2vh, 0.5rem) 10vw;
	}

	.nav__menu {
		position: absolute;
		left: 0;
		top: min(8vh, 4rem);
		width: 100%;
		height: calc(100vh - min(8vh, 4rem));
		opacity: 0;
		transition: top 0.4s, opacity 0.3s;
		padding: 0 10vw;
	}

	.nav li {
		margin: min(6vw, 2rem) 0;
	}

	.nav__link {
		box-shadow: 0 0 4px #ddd;
		border: 1px solid #ddd;
		padding: min(1vh, 0.5rem) min(3vw, 1rem);
	}

	.nav__logo {
		height: min(12vh, 3rem);
	}

	.nav__logo img {
		-o-object-fit: contain;

		object-fit: contain;
		max-width: 50%;
	}

	.nav li a {
		height: 5.5vh;
	}
}

/* For large devices */
@media screen and (min-width: 1200px) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		position: relative;
	}

	.nav__toggle {
		display: none;
	}

	.nav__menu {
		padding: 0;
	}

	.nav__list {
		display: flex;
	}

	.nav__link {
		padding: 0 min(4.5vw, 1.5rem);
	}
}

.show-menu {
	opacity: 1;
	pointer-events: initial;
	background-color: var(--color--bg-main);
}

/* Show icon */
.show-icon .nav__burger {
	opacity: 0;
	transform: rotate(90deg);
}

.show-icon .nav__close {
	opacity: 1;
	transform: rotate(90deg);
}

/*-------------------------------------------------------------- # Dropdown Section --------------------------------------------------------------*/

.dropdown {
	overflow: hidden;
}

.dropdown-content {
	display: none;
	width: inherit;
	z-index: 1;
	flex-direction: column;
	transition: display 5.5s ease;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.dropdown .dropdown-content a {
	border-top: 1px solid var(--alt-accent-color);
}

.nav--solid #nav-lan a {
	color: var(--alt-accent-color) !important;
}

.nav--transparent #nav-lan .dropdown-content a {
	color: var(--alt-accent-color) !important;
	text-shadow: none !important;
	background-color: var(--color--bg-main) !important;
}

@media (min-width: 1200px) {
	.dropdown-content {
		padding-top: min(4vh, 1rem);
		position: absolute;
	}

	.dropdown .dropdown-content a {
		padding: min(4vw, 1rem) min(4.5vw, 1.5rem);
		box-sizing: unset !important;
	}

	.nav--transparent #nav-lan {
		border-left: 2px solid #ddd;
	}

	.nav--solid #nav-lan {
		border-left: 2px solid var(--alt-accent-color);
	}
}

footer .section-container {
	padding-bottom: 0vh;
}

#language-select h1 {
	padding: min(4vh, 1rem) min(6vw, 2rem);
}

#signature {
	width: 100%;
	padding-top: min(4vh, 1rem);
	border-top: min(0.25vh, 0.0625rem) solid var(--alt-accent-color);
	justify-content: space-between;
}

#footer--one-row {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	bottom: 0;
	width: 100%;
	padding: 2vh 0;
}

#footer--one-row > * {
	padding: 0 1.5vw;
	border-left: 1px solid var(--color--white);
	border-right: 1px solid var(--color--white);
}

#footer--one-row a {
	color: var(--color--red);
}
