/* Base */

img {
	-o-object-fit: cover;
	object-fit: cover;
}

/* Banner */

.banner {
	aspect-ratio: 5/1;
}

@media (max-width: 768px) {
	.banner {
		aspect-ratio: 5/2;
	}
}

/* Specific */

.img--fit-contain {
	-o-object-fit: contain;
	object-fit: contain;
}
