/* Base */

img {
	-o-object-fit: cover;
	object-fit: cover;
}

/* Overlay */

.overlay__background {
	width: 100%;
	height: inherit;
	min-height: inherit;
	object-fit: cover;
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
	-o-object-fit: cover;
}

.overlay__foreground {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	text-align: center;
	background: transparent;
	text-shadow: 1px 1px 2px inherit;
}

/* Banner */

.banner {
	aspect-ratio: 5/1;
}

@media (max-width: 768px) {
	.banner {
		aspect-ratio: 5/2;
	}
}

/* Specific */

.img--fit-contain {
	-o-object-fit: contain;
	object-fit: contain;
}
